body {
    /*background-color: #f8fafc !important;*/
    background-color: #f9fafb !important;
}
.toolbar {
    background-color: #f70714 !important;
}
.subheader {
    display: flex !important;
    align-items: center !important;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.text-red-600 {
    --tw-text-opacity: 1;
    color: rgb(224 36 36 / var(--tw-text-opacity));
}
.bg-contain {
    background-size: contain;
}
.h-8 {
    height: 2rem;
}
.w-16 {
    width: 4rem;
}
.inline-block {
    display: inline-block;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eff2f5;
    border-radius: 0rem !important;
}
.font-semibold {
    font-weight: 600;
}
.text-base {
    font-size: 1.3rem;
    line-height: 1.5rem;
}
.p-4 {
    padding: 1rem;
}
.border-slate-200 {
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
}
.border-b {
    border-bottom-width: 1px;
}
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid {
    display: grid;
}
.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0 2.25rem;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
    border-bottom: 1.5px solid #eff2f5 !important;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
}

.col-span-8 {
    grid-column: span 8 / span 8;
}
@font-face {
    font-family: Karla;
    src: url(../fonts/Karla-Regular.ttf);

}
.font-karla {
    font-family: Karla, sans-serif;
}
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid {
    display: grid;
}
@media (min-width: 640px) {

    .sm\:static {
        position: static;
    }

    .sm\:absolute {
        position: absolute;
    }

    .sm\:bottom-\[20\%\] {
        bottom: 20%;
    }

    .sm\:top-16 {
        top: 4rem;
    }

    .sm\:top-\[50\%\] {
        top: 50%;
    }

    .sm\:top-\[65\%\] {
        top: 65%;
    }

    .sm\:-top-16 {
        top: -4rem;
    }

    .sm\:col-span-1 {
        grid-column: span 1 / span 1;
    }

    .sm\:col-span-2 {
        grid-column: span 2 / span 2;
    }

    .sm\:m-0 {
        margin: 0px;
    }

    .sm\:mx-0 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .sm\:mx-28 {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .sm\:ml-0 {
        margin-left: 0px;
    }

    .sm\:mb-16 {
        margin-bottom: 4rem;
    }

    .sm\:mr-14 {
        margin-right: 3.5rem;
    }

    .sm\:mt-0 {
        margin-top: 0px;
    }

    .sm\:block {
        display: block;
    }

    .sm\:inline-block {
        display: inline-block;
    }

    .sm\:inline {
        display: inline;
    }

    .sm\:flex {
        display: flex;
    }

    .sm\:grid {
        display: grid;
    }

    .sm\:hidden {
        display: none;
    }

    .sm\:h-20 {
        height: 5rem;
    }

    .sm\:h-48 {
        height: 12rem;
    }

    .sm\:h-3\/4 {
        height: 75%;
    }

    .sm\:h-fit {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    .sm\:h-16 {
        height: 4rem;
    }

    .sm\:h-auto {
        height: auto;
    }

    .sm\:w-\[506px\] {
        width: 506px;
    }

    .sm\:w-full {
        width: 100%;
    }

    .sm\:w-3\/5 {
        width: 60%;
    }

    .sm\:w-auto {
        width: auto;
    }

    .sm\:w-4\/5 {
        width: 80%;
    }

    .sm\:flex-1 {
        flex: 1 1 0%;
    }

    .sm\:flex-none {
        flex: none;
    }

    .sm\:shrink-0 {
        flex-shrink: 0;
    }

    .sm\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .sm\:flex-row {
        flex-direction: row;
    }

    .sm\:items-center {
        align-items: center;
    }

    .sm\:justify-start {
        justify-content: flex-start;
    }

    .sm\:justify-between {
        justify-content: space-between;
    }

    .sm\:gap-4 {
        gap: 1rem;
    }

    .sm\:space-x-2 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(0.5rem * var(--tw-space-x-reverse));
        margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
    }

    .sm\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px * var(--tw-space-y-reverse));
    }

    .sm\:justify-self-center {
        justify-self: center;
    }

    .sm\:overflow-auto {
        overflow: auto;
    }

    .sm\:rounded-lg {
        border-radius: 0.5rem;
    }

    .sm\:border-red-700 {
        --tw-border-opacity: 1;
        border-color: rgb(200 30 30 / var(--tw-border-opacity));
    }

    .sm\:bg-transparent {
        background-color: transparent;
    }

    .sm\:p-0 {
        padding: 0px;
    }

    .sm\:p-14 {
        padding: 3.5rem;
    }

    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .sm\:px-16 {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .sm\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .sm\:px-11 {
        padding-left: 2.75rem;
        padding-right: 2.75rem;
    }

    .sm\:px-40 {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .sm\:py-3 {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .sm\:px-2 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .sm\:pt-0 {
        padding-top: 0px;
    }

    .sm\:pt-4 {
        padding-top: 1rem;
    }

    .sm\:pt-2 {
        padding-top: 0.5rem;
    }

    .sm\:pt-60 {
        padding-top: 15rem;
    }

    .sm\:pt-12 {
        padding-top: 3rem;
    }

    .sm\:pb-24 {
        padding-bottom: 6rem;
    }

    .sm\:text-left {
        text-align: left;
    }

    .sm\:text-center {
        text-align: center;
    }

    .sm\:text-right {
        text-align: right;
    }

    .sm\:text-sm {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .sm\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .sm\:text-current {
        color: currentColor;
    }
    .sm\:text-3xl {
        font-size: 2.2rem;
        line-height: 2.25rem;
    }
}
.bg-red-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(200 30 30 / var(--tw-bg-opacity));
}
.w-4 {
    width: 1rem;
}
.w-6 {
    width: 1.5rem;
}
.w-20 {
    width: 10rem;
}
.flex {
    display: flex;
}
.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.inline-block {
    display: inline-block;
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.ml-2 {
    margin-left: 0.5rem;
}
.mr-2 {
    margin-right: 0.5rem;
}
.search-box .btn-searchbox {
    border: 1px solid #dc3545 !important;
    border-radius: 5px;
    background-color: #ffffff;
    color: #dc3545;
    padding: calc(.75rem + 1px) calc(1.5rem + 1px);
}
.btn.btn-outline-dangers {
    color: #F64E60;
    background-color: transparent;
    border: 1px solid #dc3545 !important;
    border-radius: 5px;
}
.search-box input {
    background-color: #F3F6FB !important;
}
.form-control-search.form-control-flush {
    border: 0;
    background-color: transparent;
    outline: 0 !important;
    box-shadow: none;
    border-radius: .475rem;
    display: block;
    width: 100%;
    padding: 0.89rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
}
.btn-outline-red-700 {
    border-width: 1px;
    color: #7e8299;
    --tw-border-opacity: 1;
    border-color: rgb(200 30 30 / var(--tw-border-opacity)) !important;
}
.drawer {
    top: 55px !important;
}
.text-xl {
    font-size: 1.55rem;
    line-height: 1.75rem;
}
.text-l {
    font-size: 1.28rem;
    line-height: 1.75rem;
}
.text-m {
    font-size: 1.16rem;
    line-height: 1.75rem;
}
.text-white-700 {
    --tw-text-opacity: 1;
    color: rgb(250, 248, 248 / var(--tw-text-opacity));
}
.italic {
    font-style: italic;
}
.font-semibold {
    font-weight: 600;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.font-light {
    font-weight: 300;
}
.font-poppins {
    font-family: Poppins, sans-serif;
}
.bgi-position-x-y-750-50 {
    background-position-x: 750px;
    background-position-y: 50px;
}
.shadow-xl {
    --tw-shadow: 0 0px 0px 0px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 0px 0px 0px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
